.root {
    display: flex;
    justify-content: center;
    text-align: center;
}

.image {
    height: 600px;
    width: 480px;
}

.image-window {
    min-width: 70vw;
    border: 1px solid black;
    margin: 10px;
}

.label-window {
    min-width: 30vw;
    border: 1px solid black;
    margin: 10px;
}

.label-form {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}

.label-span {
    display: flex;
    justify-content: flex-start;
}